@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<body>

    <h2>404 Server not found</h2>
    <i class="em em-astonished"></i>
    :rage:
    <img style="align-content:center" src="~/Style/img/angela-barnett-saying-no.jpg" />
</body>
</html>
