@model FKM_Diagnostic_Center.Test

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details about</h2>
<div class="display-field">
    <h2>@Html.DisplayFor(model => model.testName)</h2>
</div>
<fieldset>
    <legend></legend>

    <div class="display-field">
        <p> Bill: @Html.DisplayFor(model => model.testBill)</p>
    </div>

    
    <div class="display-field">
        <p>Create Date :@Html.DisplayFor(model => model.testDate)</p>
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.testId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
